.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000000;
  padding: 1rem 5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-name {
  background: #000;
  color: white;
}
.features {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.features > a {
  text-decoration: none;
  color: white;
}
.features > a:hover {
  color: #ffcc00;
  cursor: pointer;
}
